
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
.fundo {
    display: flex;
    width: 1450px;
    height: 900px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fcfcfc;
    font-family: Arial, Helvetica, sans-serif;
}
.linha1, .linha2, .linha3, .linha4, .linha5, .linha6, .linha7, .linha8, .linha9{
    display: flex;
    width: 1386px;
}
.linha8, .linha9{
    justify-content: end;
}
.espacin{
    height: 30px;
}
.sub1{
    width: 1386px;
    display: flex;
}
.sub2{
    display: flex;
}
.quadrado1{
    font-size: 11px;
    line-height: 0px;
    display: flex;
    background-color: rgb(117, 221, 107);
    width: 75px;
    height: 90px;
    border: 1px solid #000; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial
}
.quadrado2{
    font-size: 11px;
    line-height: 0px;
    display: flex;
    background-color: rgb(207, 53, 92);
    width: 75px;
    height: 90px;
    border: 1px solid #000; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial
}
.quadrado{
    font-size: 11px;
    line-height: 0px;
    display: flex;
    background-color: rgb(228, 225, 79);
    width: 75px;
    height: 90px;
    border: 1px solid #000; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial
}
.quadrado4{
    font-size: 11px;
    line-height: 0px;
    display: flex;
    background-color: rgb(82, 100, 202);
    width: 75px;
    height: 90px;
    border: 1px solid #000; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial
}